# General
.DS_Store
.env
*.log

# App
App/node_modules/
App/dist/
App/release/
App/out/
App/electron-builder.yaml

# Backend
**/venv/
**/__pycache__/
**/*.db
**/*.db.bak
**/config.json
**/*.pyc

# Others
.agent/
.gemini/

# Large files
*.dmg
*.zip
*.node
*.pkg
